/*
    DJANGO Admin styles


@import url(fonts.css);
*/
.subnav-hero-section {
  text-align: center;
  background: #317b8b;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

.ui-autocomplete
{
    position:absolute;
    cursor:default;
    z-index:1001 !important
}

#poke-pic {
    max-width: 200px;
    height: auto;
    padding: 5px;
}

#egg-move-select {
    float: left;
}

body {
    overflow:scroll;
    margin: 2rem;
}

#search-parents-button {
    max-width: 200px;
}

.alert-box {
  padding-right: 3.25rem;
  width: 100%;
}

.alert-box.callout {
  color: black;
}

.alert-box.alert {
  border: 3px solid #cc4b37;
  border-radius: 5px;
  background-color: rgba(204, 75, 55, 0.2);
}

.alert-box.warning {
  border: 3px solid #ffae00;
  border-radius: 5px;
  background-color: rgba(255, 174, 0, 0.2);
}

.alert-box.success {
  border: 3px solid #3adb76;
  border-radius: 5px;
  background-color: rgba(58, 219, 118, 0.2);
}

.alert-box.info {
  border: 3px solid #1779ba;
  border-radius: 5px;
  background-color: rgba(23, 121, 186, 0.2);
}

.alert-box i {
  border: 2px solid #fefefe;
  border-radius: 50%;
  padding: .3em .325em;
  margin-right: 0.5rem;
}

.alert-box .close-button {
  color: rgba(254, 254, 254, 0.5);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
}

select {
    max-width: 300px;
}

#sticky-side {
    background: light-blue;
    opacity: 0.5;
    display: inline-block;
		width: 25%;
		vertical-align: top;
}

#addToFavorites {
    margin: 5px;
}
