<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon App </title>
        <meta name="viewport" content="width=device-width" />
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.js"></script>
        <script src=""></script>
        <!-- this will include every plugin and utility required by Foundation -->
        <script src="/static/js/foundation.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/foundation.accordion.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/foundation.core.js" type="text/javascript" charset="utf-8"></script>
    </head>

    <body>
        <header class="subnav-hero-section">

            <h3 class="subnav-hero-headline">Pokemon Egg App <small>gen 2</small></h3>
        <ul class="subnav-hero-subnav">
            <li><a href="/">Breeding Test</a></li>
             {% if user.is_authenticated %}
                <li> <a href="/favorites" class="is-active">Favorites</a></li>
             {% else %}
                <li> <a href="/login" class="is-active">Login</a></li>
             {% endif %}
        </ul>
        </header>
        <div class="content container">
                  {% block content %}
                  {% endblock %}
    </div>
    </body>
</html>
