<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Pokemon App </title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header class="subnav-hero-section">
      <h1 class="subnav-hero-headline">Pokemon Egg App <small>gen 2</small></h1>
      <ul class="subnav-hero-subnav">
        <li><a href="#">Breeding Test</a></li>
        <li><a href="#" class="is-active">Favorites</a></li>
      </ul>
      </header>
      <div class="content container">
                {% block content %}
                {% endblock %}
    </div>
    </body>
</html>
