{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function(){
    $(document).foundation();});
</script>
<div class="grid-x grid-padding-x align-center">
    <div class="medium-6 cell"> 
    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
    {% for trio in history_trios %}
      <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">{{ trio.child.name }} with {{trio.child_egg_move}}</a>
        <div class="accordion-content" data-tab-content>
            <thead><tr>
                      <th width="200">Details</th>
                      <th>Male/Ditto</th>
                      <th>Female/Genderless</th>
                    </tr></thead>
                  <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ trio.parent1.name }}</td>
                        <td>{{ trio.parent2.name }}</td>
                    </tr>
                    <tr>
                        <td>Pokemon Number</td>
                        <td>{{ trio.parent1.number }}</td>
                        <td>{{ trio.parent2.number }}</td>
                    </tr>
                    <tr>
                        <td>Level up move needed</td>
                        <td colspan=2>{{ trio.parent_level_up_move }}</td>
                    </tr>
                </tbody>
                </table>
        </div>
      </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}