{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<script src="/static/js/base.js" type="text/javascript" charset="utf-8"></script>
<form id="form-inline" data-abide="ajax" action="{% url 'get_values' %}" method="POST">
    {% csrf_token %}
    <fieldset id="desired-poke">
    <!-- Autocomplete search all pokemon -->
    <div class="row align-spaced">
        <div class="column small-4  cell" id="poke-pic"> 
            <img src="{% static 'img/pokeball.jpg' %}" id="poke-pic">
        </div>
        <div class="column large-8">
            <div class="row">
            <select name="pokemon" id="pokemon-select" class="large-4 column">
                <option value="{% static 'img/pokeball.jpg' %}">
                    &lt;Select a Pokemon First&gt;
                </option>
                {% for pokemon in pokemons %}
                <option value="{{ pokemon.picture }}">{{ pokemon.name }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="cell">
            <select name="egg_move_select" id="egg_move_select" class="large-4 column">
                <option value="not_selected">&lt;Select a Move&gt;</option>
            </select>
            </div>
            <div class="row">
            <button type="submit" id="search-parents-button" class="button success">
                Search all possibilities 
            </button>
            </div>
        </div>
        
    </div>
    </fieldset>
</form>

{% endblock %}

