{% extends base.html %}
{% block content %}

<form action="/pairs" method="GET">

    <fieldset>
    
    <div class="poke-pic"> 
        <img />
    
    </div>

    <div class="form-group">
        <!-- Autosearch all pokemon -->
        <label for="pokemon-select">Choose your desired pokemon</label>
        <select name="pokemon" id="pokemon-select" class="form-control">
            <option value="not_selected">&lt;Not Selected&gt;</option>
   <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
            {% for pokemon, pokemon_count in pokemons %}
                <option value="{{ pokemon|title }}">{{ pokemon|title }} ({{ pokemon_count }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <!-- combo box all egg moves -->
        <label for="egg-move-select">Choose your desired egg move</label>
        <select name="egg-move" id="egg-move-select" class="form-control">
            <option value="not_selected">&lt;Select a Pokemon First&gt;</option>
   <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
            {% for egg_move, egg_move_count in egg_moves %}
                <option value="{{ egg_move|title }}">
                    {{ egg_move|title }} ({{ egg_move_count }})
                </option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button type="button" id="search-matches-btn" class="btn btn-success pull-right">
        Search all possibilities 
    </button>
    </fieldset>
</form>

{% endblock %}

